@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
.contenedor-h1-productos {
  border-radius: 4px;
  margin: 20px 10px; }

#botonera {
  background-color: rgba(150, 116, 57, 0.6);
  font-family: "Open Sans", sans-serif; }
  #botonera img {
    width: 90px; }
    @media (min-width: 768px) {
      #botonera img {
        width: 125px; } }
  #botonera ul li a {
    font-size: 1em;
    color: #F5F0F0; }
    #botonera ul li a:hover {
      font-weight: 1000;
      color: #967439; }

* {
  margin: 0;
  padding: 0; }

.comentarioSuperior {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: rgba(109, 166, 227, 0.3);
  font-size: 0.8em;
  font-weight: 600; }

main {
  margin: 5px 10px; }

.contenedor-h1-index, .contenedor-h1-productos {
  padding: 20px 0;
  text-align: center;
  background-color: rgba(109, 166, 227, 0.4);
  font-family: "Open Sans", sans-serif;
  font-size: 2em;
  color: #F5F0F0; }

.contenedorContacto {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .contenedorContacto .map {
    width: 250px;
    height: 300px;
    text-align: center; }
  @media (min-width: 992px) {
    .contenedorContacto {
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      .contenedorContacto .map {
        width: 450px;
        height: 350px; } }
  @media (min-width: 820px) {
    .contenedorContacto {
      text-align: center; }
      .contenedorContacto .map {
        width: 650px;
        height: 450px; } }

.contenedorNosotros {
  width: 90%;
  padding: 10px;
  border: 5px solid rgba(109, 166, 227, 0.4);
  margin: auto;
  margin-top: 20px;
  background-color: rgba(109, 166, 227, 0.3);
  display: flex;
  flex-direction: column; }
  .contenedorNosotros h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    color: #967439;
    font-weight: 400;
    text-decoration: underline; }
  .contenedorNosotros h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 2em;
    color: #967439;
    font-weight: 400;
    text-decoration: underline; }
  .contenedorNosotros p {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 200;
    line-height: 28px;
    color: #0F0E0E; }

.botonContacto {
  background-color: rgba(109, 166, 227, 0.3);
  border: 2px solid rgba(109, 166, 227, 0.4);
  padding: 6px;
  border-radius: 10px;
  margin: 10px; }

.contenedorLooks {
  background-color: rgba(205, 204, 206, 0.3);
  text-align: center; }
  .contenedorLooks h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 600; }
  .contenedorLooks p {
    font-family: "Roboto", sans-serif;
    font-size: 0.8em;
    font-weight: 400; }

.contenedormujeres {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "botonera" "header" "filtros" "productosmujeres" "footer"; }
  @media (min-width: 768px) {
    .contenedormujeres {
      grid-template-columns: 20vw 80vw;
      grid-template-rows: repeat(2, auto);
      grid-template-areas: "botonera botonera" "header header" "filtros productosmujeres" "footer footer"; } }

#botonera {
  grid-area: botonera; }

#header {
  grid-area: header; }

#filtros {
  grid-area: filtros; }

#productosmujeres {
  grid-area: productosmujeres; }

#footer {
  grid-area: footer; }

.tabla {
  background-color: rgba(109, 166, 227, 0.5);
  color: white;
  margin: 25px;
  font-size: 1rem;
  line-height: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.contenedorFooter {
  background-color: rgba(150, 116, 57, 0.6);
  text-align: center;
  padding: 30px 0;
  margin-top: 20px; }
  .contenedorFooter h2 {
    color: #F5F0F0; }
  .contenedorFooter img {
    margin: 5px;
    width: 35px; }
    .contenedorFooter img:hover {
      cursor: pointer;
      transform: translateY(-10px); }
  @media (min-width: 768px) {
    .contenedorFooter {
      display: flex;
      align-items: center;
      justify-content: space-evenly; }
      .contenedorFooter div {
        display: flex;
        justify-content: space-evenly;
        align-items: center; } }
