*{
	margin: 0;
	padding: 0;
}

// comentario superior
.comentarioSuperior{
	font-family: $mainFont;
	text-align: center;
	padding:0;
	margin: 0;
	background-color: $thirdColor;
	font-size: $textSm;
	font-weight: $bold;
}

// Index
main{
	margin: 5px 10px;
}

.contenedor-h1-index{
		padding: 20px 0;
		text-align: center;
		background-color: $secondaryColor;
		@include tituloPrincipal($textLg, $white);
}

// formulario contacto
.contenedorContacto{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	.map{
		width: 250px;
		height: 300px;
		text-align: center;
	}

	@media (min-width: 992px){
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		.map{
			 width: 450px;
			 height: 350px;
		}
	} 
	@media (min-width: 820px){
		text-align: center;
		.map{
			 width: 650px;
			 height: 450px;
		}
	} 
}

.contenedorNosotros{
	width: 90%;
  	padding: 10px;
  	border: 5px solid $secondaryColor;
  	margin: auto;
  	margin-top: 20px;
  	background-color: $thirdColor;
  	display: flex;
  	flex-direction: column;
  	h1{
  		@include tituloPrincipal($textLg, $keyColor)
  		font-weight: $regular;
  		text-decoration: underline;
  	}
  	h2{
  		@include tituloPrincipal($textLg, $keyColor)
  		font-weight: $regular;
  		text-decoration: underline;
  	}
  	p{
  		font-family: $secondaryFont;
  		font-size: $textMd;
  		font-weight: $light;
  		line-height: 28px;
  		color: $black;
  	}
}

.botonContacto{
	background-color: $thirdColor;
	border: 2px solid $secondaryColor;
  	padding: 6px;
  	border-radius: 10px;
  	margin: 10px;
}
