@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
// fonts
$mainFont:'Open Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;

// text sizing
$textSm: .8em;
$textMd: 1em;
$textLg: 2em;
$textXl: 3em;

// font weight
$superBold: 1000;
$bold: 600;
$regular: 400;
$light: 200;