#botonera{
	background-color: $mainColor;
	font-family: $mainFont;
	img{
		width: 90px;
		@media (min-width: 768px){
			width: 125px;
		}
	}	
	ul li a{
		font-size: $textMd;
		color: $white;
		&:hover{
			font-weight: $superBold;
			color: map-get($map:$paleta, $key:'uno')
		}
	}

}







