// productos destacados
.contenedorLooks{
	background-color: rgba(205, 204, 206, .3);
	text-align: center;
	h2{
		font-family: $secondaryFont;
		font-size: $textMd;
		font-weight: $bold;
	}
	p{
		font-family: $secondaryFont;
		font-size: $textSm;
		font-weight: $regular;
	}
}
// mujeres y kids
.contenedormujeres{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"botonera"
	"header"
	"filtros"
	"productosmujeres"
	"footer";
	@media (min-width: 768px){
			grid-template-columns: 20vw 80vw;
			grid-template-rows: repeat(2, auto);
			grid-template-areas: 
			"botonera botonera"
			"header header"
			"filtros productosmujeres"
			"footer footer";
	}
}

#botonera{
	grid-area: botonera;
}
#header{
	grid-area: header;
}
#filtros{
	grid-area: filtros;
}
#productosmujeres{
	grid-area: productosmujeres;
}
#footer{
	grid-area: footer;
}

.tabla{
	background-color: rgba(109, 166, 227, .5);
	color: white;
	margin: 25px;
	font-size: 1rem;
	line-height: 1.6em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}
