// variables globales
$mainColor: rgba(150, 116, 57, .6);
$secondaryColor: rgba(109, 166, 227, .4);
$thirdColor: rgba(109, 166, 227, .3);
$keyColor: rgb(150, 116, 57);
$white: #F5F0F0;
$black: #0F0E0E;